.mm-sep {
  background-color: black;
  color: white;
}
.mm-sep h3 {
  font-size: 16px;
  color: white;
  margin: 4px 0;
}

.mm-sep.child {
  background-color: darkred;
  color: white;
}
.mm-sep.child h3 {
  font-size: 12px;
  color: white;
  margin: 0;
  font-weight: 700;
  text-transform: uppercase;
}
.mm-sep.child em {
  color: white;
  font-size: 11px;
  margin: 0;
}

.danger .cf-field__help {
  color: darkred !important;
}

#carbon_fields_container_post_options .postbox-header {
  background-color: black;
}
#carbon_fields_container_post_options .postbox-header h2 {
  color: whitesmoke;
}
