.custom-post-type-section {
  background-color: var(--color-light-1);
}

.cpt-item-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem 8px;
}

li.cpt-item {
  overflow: hidden;
  border-radius: 5px;
  overflow: hidden;
  background-color: var(--color-light-5);
}
li.cpt-item a.readmore {
  position: relative;
  margin-bottom: 1rem;
  transition: 0.2s linear all;
}
li.cpt-item a.readmore:before {
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--color-accent-1);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.2s linear all;
}
li.cpt-item:hover a.readmore:before {
  content: "";
  width: calc(100% / 3);
  height: 2px;
  background-color: var(--color-accent-1);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.2s linear all;
}

li.cpt-item .cpt-item-top {
  width: 100%;
  background-color: darkcyan;
  aspect-ratio: 16/9;
  overflow: hidden;
}

li.cpt-item .cpt-item-top img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.cpt-item-bot {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
}

.cpt-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}

.cpt-duration {
  right: 8px;
  bottom: 8px;
  background-color: var(--transparent-dark-5);
  color: var(--color-light-1);
}
