/**
=========================
* New Post Query style.css
* @todo New Post Query style 1
*=========================
*/
#np-pr {
  background-color: var(--color-background-primary);
  z-index: 2;
}
.the-post-type {
  z-index: 5;
  background: var(--transparent-dark-3);
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 10px;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}
#np-wr.s1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: stretch;
  gap: 1.75rem 1rem;
  overflow: hidden;
}
#np-wr.s1 .np {
  width: calc(100% / 4 - 1rem);
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: whitesmoke;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--transparent-dark-1);
  border-radius: 5px;
}

/* #np-wr.s1 .np:nth-child(4n) {
    aspect-ratio: 1/1;
  } */

#np-wr.s1 .np-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

a.np-cat {
  position: absolute;
  top: 8px;
  left: 1rem;
  background-color: var(--color-accent-1-dark);
  color: var(--color-light-1);
}

.post-view {
  position: absolute;
  bottom: 8px;
  left: 1rem;
}

.np-post-date {
  position: relative;
  margin: 0 auto;
  background-color: var(--transparent-dark-3);
  color: var(--color-light-1);
}
#np-wr.s1 .np-top a.fim-wr {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 0;
}
#np-wr.s1 .np-top a.fim-wr img.fim {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

#np-wr.s1 .np-bot:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    to bottom,
    transparent,
    var(--transparent-dark-4),
    var(--transparent-dark-8),
    var(--transparent-dark-9)
  );
}
#np-wr.s1 .np-bot {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: fit-content;
  padding: 2rem 1rem 8px 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
#np-wr.s1 .np-bot .post-views {
  color: var(--color-light-1);
  z-index: 2;
}

#np-wr.s1 .np:first-child h3.query-head {
  font-size: var(--font-clamp-1);
}

h3.query-head {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
  margin: 8px 0;
}

#np-wr.s1 .np-bot h3 a {
  color: var(--color-light-1);
}

#np-wr.s1 .np:first-child {
  width: calc(100% / 2 - 1rem);
  aspect-ratio: 16/9;
}
#np-wr.s1 .np:first-child .np-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#np-wr.s1 .np:first-child .head {
  font-size: var(--font-clamp-2);
}

h3.np-title {
  margin: 2px 0;
}
