#ht-pr {
  background-color: white;
}

#ht-wr {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.ht-item-wr {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

.ht-item {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--transparent-dark-1);
  align-items: center;
  text-align: center;
  background-color: var(--color-light-1);
  color: var(--color-dark-1);
}

.ht-item .post-views {
  position: absolute;
  bottom: 8px;
  left: 8px;
  width: max-content;
}

.ht-item-top a {
  overflow: hidden;
}
.ht-item-top a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.ht-item-bot {
  padding: 1.75rem 1rem;
  display: flex;
  flex-direction: column;
}
.ht-item-bot h3 a {
  color: var(--color-dark-1);
}
