li.ticker-spacer {
  display: none !important;
}

#mc-pr {
  display: none;
  z-index: -1;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: var(--color-dark-2);
  color: var(--color-light-1);
  padding: 8px;
}

#mc-pr.hide {
  transform: translateY(100%);
  transition: 0.3s linear all;
}

#mc-pr.show {
  transform: translateY(0);
  transition: 0.3s linear all;
}

#mc-home {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  position: absolute;
  top: -40px;
  left: 50%;
  padding: 10px;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.1rem;
  cursor: pointer;
  background-color: var(--color-dark-2);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  z-index: 0;
  color: var(--color-light-1);
}
#mc-home.active {
  color: var(--color-accent-1-light);
}

#mc-wr {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  gap: 4px;
}

.mc {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    to bottom,
    var(--color-dark-1),
    var(--color-dark-3)
  );
  box-shadow: 0 0 2px 0 rgb(0, 0, 0, 0.1) inset;
  border-radius: 5px;
  overflow: hidden;
}

ul.mobile-app-menu {
  width: 100%;
  /* height: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px 4px;
}
ul.mobile-app-menu li {
  width: calc(100% / 5 - 4px);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px 0;
}
ul.mobile-app-menu li a {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
ul.mobile-app-menu li a i {
  font-size: 1.3rem;
  color: var(--transparent-light-6);
}
ul.mobile-app-menu li a:hover i {
  color: var(--color-accent-1-light);
}
ul.mobile-app-menu li a span {
  font-size: 13px;
  color: var(--transparent-light-6);
}

/**
=========================
* 600px
* @todo 600px
*=========================
*/
@media screen and (max-width: 600px) {
  #mc-pr {
    display: block;
    z-index: 1000;
  }
}
