#nt-pr {
  height: 40px;
  background-color: var(--color-dark-1);
  padding-left: 0;
  padding-right: 0;
}
#nt-pr:before {
  top: 0;
  background: linear-gradient(
    to bottom,
    var(--color-dark-1),
    var(--color-dark-2),
    var(--color-dark-3)
  );
}
#nt-pr:after {
  bottom: 0;
}

#nt-pr:before,
#nt-pr:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  border-bottom: 1px solid var(--color-accent-1-dark);
  border-top: 1px solid var(--color-accent-4);
  border-bottom: 1px solid var(--color-accent-4);
  opacity: 0.1;
}

#nt-wr {
  display: flex;
  align-items: center;
  justify-content: center;
}

#nt-left {
  height: 100%;
  background: linear-gradient(
    -15deg,
    var(--color-accent-1-dark),
    var(--color-accent-1),
    var(--color-accent-1-dark)
  );
  width: calc(100% / 5);
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-light-1);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}
#nt-left:after {
  content: "";
  position: absolute;
  border-top: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid var(--color-accent-1-dark);
  right: -20px;
  /* z-index: 2; */
}

#nt-right {
  overflow: hidden;
  padding-left: 10px;
}
#nt-right.hide {
  display: none;
}

ul.nt-list li {
  position: relative;
  padding-left: 1rem !important;
  margin-left: 1rem;
  font-size: 130%;
  font-style: italic;
}
ul.nt-list li:before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: var(--color-accent-4);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
}
ul.nt-list li a {
  color: var(--color-accent-4);
  font-weight: normal;
  z-index: 1;
}
