/**
=========================
* Post by Category
* @todo Post by Category style 1
*=========================
*/

#pbc.s1 {
  background-color: var(--color-light-2);
}
.the-sidebar aside {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.has-sidebar {
  display: grid;
  grid-template-columns: 1fr 316px;
  gap: 8px;
  background-color: var(--color-background-primary);
  padding: 8px;
}

.has-sidebar-left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#pbc-left-top {
  overflow: hidden;
}
#pbc-left-top .ads {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#pbc-left-top .ads img.find-this {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
}

#pbc.s1 #pbc-left-bot {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.75rem 8px;
  background-color: var(--color-background-primary);
  padding: 8px;
}
.pbcc-pr {
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--transparent-dark-2);
  gap: 8px;
}
#pbc.s1 .pbcc-wr {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: hidden;
}

#pbc.s1 .pbcc {
  display: grid;
  grid-template-columns: 80px 1fr;
  gap: 8px;
  align-items: flex-start;
  border-bottom: 1px dashed var(--transparent-dark-1);
}

.pbcc-post-date {
  position: relative;
  bottom: 0;
  right: 0;
}

#pbc.s1 .pbcc.pbcc:not(:first-child) .the-post-type {
  top: unset;
  right: 0;
  bottom: 0;
}

#pbc.s1 .pbcc-top {
  aspect-ratio: 16/9;
  border-radius: 5px;
  overflow: hidden;
  height: 100%;
}

.pbc-head {
  margin-top: 0;
}

#pbc.s1 .pbcc-top .post-views {
  position: absolute;
  z-index: 2;
  top: 4px;
  left: 4px;
  background-color: var(--transparent-dark-4);
  color: var(--color-light-1);
  font-size: 60%;
  line-height: 1;
}
#pbc.s1 .pbcc-top a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
#pbc.s1 .pbcc-top a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 5px;
}

#pbc.s1 .pbcc:first-child .pbcc-top .post-views {
  position: absolute;
  z-index: 2;
  top: 4px;
  left: 4px;
  background-color: var(--transparent-dark-4);
  color: var(--color-light-1);
  font-size: 70%;
  line-height: 1;
  padding: 4px 8px;
}
#pbc.s1 .pbcc:first-child {
  display: grid;
  grid-template-columns: 1fr;
}
#pbc.s1 .pbcc:first-child h3.the-post-title.small {
  font-size: 16px;
}
#pbc.s1 .pbcc:first-child .pbcc-top {
  aspect-ratio: 16/9;
}
#pbc.s1 .pbcc:first-child .pbcc-bot {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: linear-gradient(
    to bottom,
    transparent,
    var(--transparent-dark-7),
    var(--transparent-dark-9)
  );
  border-radius: 0 0 10px 10px;
}
#pbc.s1 .pbcc:first-child h3 {
  font-size: 18px;
  margin: 8px 0;
  line-height: 1.3;
  font-weight: 600;
  font-size: var(--font-clamp-1);
}
#pbc.s1 .pbcc:first-child .pbcc-bot a {
  color: var(--color-light-1);
}

#pbc.s1 .pbcc:first-child .post-date {
  color: white;
}

/* a.pbcc-load-more {
  display: flex;
  margin-top: 1rem;
  line-height: 1.2;
  padding: 4px 8px;
  font-size: 70%;
  background-color: var(--color-dark-3);
  color: var(--color-light-1);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
} */
