/**
=========================
* Sidebar
* @todo Sidebar global.css
*=========================
*/
.the-sidebar {
  width: 316px;
  background-color: var(--color-dark-3);
  padding: 1rem;
  overflow: hidden !important;
}
