/**
=========================
* Sidebar
* @todo Sidebar global.css
*=========================
*/
.the-sidebar {
  background-color: var(--color-dark-3);
  color: var(--color-light-1);
  padding: 1rem;
  overflow: hidden !important;
  border-radius: 5px;
}
