#sing {
  background-color: var(--color-background-primary);
}

#sing-wr {
  display: grid;
  grid-template-columns: 1fr 332px;
  gap: 8px;
}

#sing-left {
  padding: 1rem 0;
  background-color: var(--color-light-1);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sing-left-col {
  padding: 0 1rem;
}

#sing-fim-wr {
  overflow: hidden;
  aspect-ratio: 16/9;
}
#sing-fim-wr img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#sing-right {
  padding: 1rem;
}

#the-content h1,
#the-content h2,
#the-content h3,
#the-content h4,
#the-content h5,
#the-content h6 {
  margin: 1rem 0;
  line-height: 1.2;
  color: var(--color-dark-1);
}

#the-content h2 {
  font-size: var(--font-clamp-3);
}

#the-content h3 {
  font-size: var(--font-clamp-2);
}

#the-content h4 {
  font-size: var(--font-clamp-1);
}

#the-content h5,
#the-content h6 {
  font-size: 1.4rem;
}

#the-content ul li,
#the-content ol li {
  margin: 0.5rem 0;
  line-height: 1.5;
}

/**
=========================
* Media Queries single.css
* @todo media queries single-css
*=========================
*/

/**
=========================
* 804px
* @todo 804px
*=========================
*/
@media screen and (max-width: 804px) {
  #sing-wr {
    display: flex;
    flex-direction: column;
    grid-template-columns: unset;
    gap: 1.75rem;
  }
}
