#sing {
  background-color: var(--color-background-primary);
}

#sing-wr {
  display: grid;
  grid-template-columns: 1fr 316px;
  gap: 8px;
}

ul.sing-post-meta-list {
  padding: 0 1rem;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

ul.sing-post-meta-list li {
  padding-left: 1rem;
}
ul.sing-post-meta-list li:first-child {
  padding-left: 0;
}

ul.sing-post-meta-list .post-view {
  color: var(--color-text-primary);
  position: relative;
  font-size: 16px;
  bottom: unset;
  left: unset;
}
#sing-left {
  background-color: var(--color-light-1);
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  gap: 1rem;
}
.post-published:before {
  content: "";
  position: absolute;
  bottom: -55%;
  left: 0;
  border-top: 25px solid var(--color-accent-1-dark);
  border-right: 25px solid var(--color-accent-1-dark);
  border-bottom: 25px solid transparent;
  border-left: 25px solid var(--color-accent-1-dark);
  z-index: -1;
}

.post-published {
  background-color: var(--color-accent-1-dark);
  width: 50px;
  z-index: 0;
  color: var(--color-light-1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: calc(-1rem - 5px);
  right: 0;
  padding-top: 4px;
}
.singpbdate {
  margin: 0;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1;
}
.singpbmonth,
.singpbyear {
  text-transform: uppercase;
  line-height: 1;
}

.singpbauthor {
  display: block;
  position: relative;
  margin-top: 75px;
}

li.singpbcat a {
  color: var(--color-accent-1-dark);
  font-weight: 600;
}

h1#single-post-title {
  margin-top: 0px;
}

#the-toc {
  margin-top: 1rem;
  margin-bottom: 1rem;
  background: aliceblue;
  overflow: hidden;
}
#the-toc:before {
  content: "Table of Contents";
  padding-left: 8px;
  font-size: 17px;
  font-weight: 600;
  color: var(--color-light-1);
  display: block;
  background-color: var(--color-light-2);
}

ul.toc-list {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-weight: 600;
  padding: 8px;
}
ul.toc-list li {
  box-sizing: border-box;
  width: 100%;
  cursor: pointer;
}
ul.toc-list li:hover {
  color: var(--color-accent-1);
}

.sing-left-col {
  padding: 0 1rem;
}

#sing-fim-wr {
  overflow: hidden;
  border-radius: 10px;
  aspect-ratio: 16/9;
}
#sing-fim-wr img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 10px;
}

#the-content-wr {
  display: grid;
  max-width: 100%;
  grid-template-columns: 1fr 180px;
  overflow: hidden;
}

#the-content-sidebar {
  padding: 1rem;
  background-color: var(--color-background-primary);
  border-radius: 10px;
}

#the-content {
  display: flex;
  flex-direction: column;
}

#the-content h1,
#the-content h2,
#the-content h3,
#the-content h4,
#the-content h5,
#the-content h6 {
  margin: 4px 0;
  line-height: 1;
  color: var(--color-dark-1);
}

#the-content h2 {
  font-size: var(--font-clamp-4);
}

#the-content h3 {
  font-size: var(--font-clamp-3);
}

#the-content h4 {
  font-size: var(--font-clamp-2);
}

#the-content h5,
#the-content h6 {
  font-size: var(--font-clamp-1);
}

#the-content ul li,
#the-content ol li {
  margin: 0.5rem 0;
  line-height: 1.5;
}
.the-tags {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.the-tags span {
  text-transform: uppercase;
  font-weight: 700;
}
ul.post-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0;
  font-style: italic;
}
ul.post-tags li {
  position: relative;
}
ul.post-tags li:after {
  content: ",";
}
ul.post-tags li:last-child:after {
  display: none;
}
ul.post-tags li a:before {
  content: "#";
}
ul.post-tags li a {
  color: var(--color-accent-1-dark);
  position: relative;
  display: inline-block;
}

#sing-right {
  padding: 1rem;
}

/**
=========================
* Single Video
* @todo single video
*=========================
*/
.vid-player {
  background-color: var(--color-dark-1);
  aspect-ratio: 16/9;
}
.vid-player iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
}

.vid-items-wr {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 8px;
  padding: 8px;
  background-color: darkred;
}
.vid-items-wr.one {
  display: none;
}
.vid-items-wr.one .vid-item {
  width: calc(100% - 8px);
  aspect-ratio: 16/9;
}

.vid-items-wr.two .vid-item {
  width: calc(50% - 8px);
  aspect-ratio: 16/9;
}

.vid-items-wr.three .vid-item {
  width: calc(33.3333% - 8px);
  aspect-ratio: 16/9;
}

.vid-items-wr.four .vid-item {
  width: calc(100% / 4 - 8px);
  aspect-ratio: 16/9;
}

.vid-item img.find-this {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
}

/**
=========================
* Related Post
* @todo related post
*=========================
*/
.related-post-wr {
  display: flex;
  flex-direction: column;
  gap: 1;
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}
.related-post-wr-head {
  font-size: var(--font-clamp-2) !important;
}
.relpos-head {
  font-size: 90% !important;
  font-weight: 500;
  /* margin: 8px 0 !important; */
  line-height: 1.5 !important;
  font-family: var(--font-secondary);
}

ul.related-post-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
ul.related-post-list li {
  display: grid;
  grid-template-columns: 100px 1fr;
  align-items: start;
  border-bottom: 1px dashed var(--transparent-dark-1);
}

.relpos-left {
  aspect-ratio: 16/9;
  overflow: hidden;
}
.relpos-left a {
  width: 100%;
  height: 100%;
  display: block;
}
.relpos-left a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 10px;
}

.relpos-right {
  padding: 0 1rem;
}

/**
=========================
* Media Queries single.css
* @todo media queries single-css
*=========================
*/

/**
=========================
* 991px
* @todo 991px
*=========================
*/
@media screen and (max-width: 991px) {
  #the-content-wr {
    display: flex;
    flex-direction: column;
    grid-template-columns: unset;
  }
  #the-content-sidebar {
    margin-top: 1rem;
  }
}

/**
=========================
* 804px
* @todo 804px
*=========================
*/
@media screen and (max-width: 804px) {
  #sing-wr {
    display: flex;
    flex-direction: column;
    grid-template-columns: unset;
    gap: 1.75rem;
  }
}

/**
=========================
* 540px
* @todo 540px
*=========================
*/
@media screen and (max-width: 540px) {
  ul.sing-post-meta-list {
    justify-content: center;
    -moz-column-gap: 8px;
    column-gap: 8px;
  }
}

/**
=========================
* 490px
* @todo 490px
*=========================
*/
@media screen and (max-width: 490px) {
  ul.sing-post-meta-list {
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 4px;
    -moz-column-gap: 8px;
    column-gap: 8px;
  }
  ul.sing-post-meta-list li {
    padding-left: 0;
  }
  ul.sing-post-meta-list li:before,
  ul.sing-post-meta-list li:after {
    display: none;
  }
}

/**
=========================
* 424px
* @todo 424px
*=========================
*/
@media screen and (max-width: 424px) {
  ul.related-post-list li {
    display: grid;
    grid-template-columns: 1fr;
    align-items: start;
    border-bottom: 1px dashed var(--transparent-dark-1);
  }
  .relpos-right {
    padding: 1.75rem 1rem;
  }
}
