/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@100..900&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --color-background-primary: aliceblue;
  --color-text-primary: #333;
  --color-light-1: #ffffff;
  /* --color-light-2: #008080; */
  --color-light-2: #f5f5f5;
  --color-light-3: #6e6a86;
  --color-light-4: #bc7868;
  --color-light-5: #f4f4f4;
  --color-dark-1: #2a2d2e;
  --color-dark-2: #1f1f1f;
  --color-dark-3: #181818;
  --color-accent-1-light: #ff1212;
  --color-accent-1: #970000;
  --color-accent-1-dark: #6b0000;
  --color-accent-2: #006c00;
  --color-accent-2-dark: #004c00;
  --color-accent-3-light: #019493;
  --color-accent-3: #01807f;
  --color-accent-3-dark: #016c6b;
  --color-accent-3-darker: #015a5a;
  --color-accent-4: #b4b400;
  --color-accent-4-dark: #7f7f00;
  --font-primary: "Open Sans", sans-serif;
  --font-secondary: "Montserrat", sans-serif;
  --font-display: "Montserrat", sans-serif;
}

body {
  /* background-color: var(--color-background-primary); */
  background-color: var(--color-light-1);
  color: var(--color-text-primary);
}

.font-primary {
  font-family: var(--font-primary);
}

.font-display {
  font-family: var(--font-display);
}

.font-secondary {
  font-family: var(--font-secondary);
}
