/**
=========================
* Widgets
* @todo Widgets global.css
*=========================
*/

/*=========================Recent Post Widget=========================*/
.widget {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

ul.recpost-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

li.recpost {
  width: 100%;
  display: grid;
  grid-template-columns: 80px 1fr;
  border-bottom: 1px dashed var(--transparent-light-2);
}

.recpost-left {
  aspect-ratio: 16/9;
  border-radius: 5px;
  overflow: hidden;
}
.recpost-left a {
  width: 100%;
  height: 100%;
  display: block;
}
.recpost-left a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.recpost-right {
  padding: 0 8px;
}

.head.recpost-head {
  margin-top: 0;
}

/*=========================Widget Image Link=========================*/
a.widget-link-image {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  position: relative;
}
a.widget-link-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 5px;
}
